<h2>問い合わせ一覧</h2>
<div class="search-form">
  <%= form_with url: admin_inquiry_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <th width="200" heigth="24">日付</th>
    <th width="200" heigth="24">名前</th>
    <th width="200" heigth="24">タイトル</th>
  </thead>
  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= inquiry.user.last_name %><%= inquiry.user.first_name %></td>
        <td>
          <%= link_to admin_inquiry_path(inquiry) do %>
            <%= inquiry.title %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>