<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>問い合わせ内容確認画面</h2>
      <h4>タイトル</h4>
      <%= @inquiry.title %>
      <h4>問い合わせ内容</h4>
      <%= @inquiry.body %>

      <%= form_for @inquiry, method: :post, url: inquiries_path do |f| %>
        <%= f.hidden_field :title %>
        <%= f.hidden_field :body %>
        <%= f.hidden_field :user_id, value: @user_id %>
        <%= f.submit '送信する' %>
      <% end %>
    </div>
  </div>
</div>